.pagination {
    width: 150px;
    height: 40px;
    margin: 2rem auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border-radius: 8px;
    border: 1px solid #000000;
    cursor: pointer;

    svg {
        width: 15px;
        height: 15px;
    }
}