*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.hiden-opacity {
    opacity: 0;
}

.hiden {
    display: none;
}

.content {
    min-height: 500px;
}